{{ if not .Site.Params.hideFooter | default false }}
  <footer class="footer">
    <section class="container">
      {{ with .Site.Params.footercontent | safeHTML }}
        <p>{{ . }}</p>
      {{ end }}
      {{ if not .Site.Params.hideCopyright }}
        ©
        {{ if (and (.Site.Params.since) (lt .Site.Params.since now.Year)) }}
          {{ .Site.Params.since }} -
        {{ end }}
        {{ now.Year }}
        {{ with .Site.Params.Author }} {{ . }} {{ end }}
      {{ end }}
      {{ if not .Site.Params.hideCredits }}
        {{ if not .Site.Params.hideCopyright }} · {{ end }}
      {{ end }}
      {{ if .Site.Params.commit }}
        {{ if .GitInfo }}
          [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
        {{ end }}
      {{ end }}
    </section>
  </footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177194901-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177194901-1');
</script>
<!-- MAILCHIMP -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/0dafa788c7088c7859350137f/49b4826d2579e4eea3497eaca.js");</script>
{{ end }}
